html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.navbar .nav-link {
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

    .navbar .nav-link:hover {
        color: #198754 !important;
    }

.footer-link {
    color: #ddd;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

    .footer-link:hover {
        color: #198754;
    }

.sticky-top {
    z-index: 1000;
}

.login-section {
    min-height: 85vh;
    background: linear-gradient(rgba(25, 135, 84, 0.08), rgba(25, 135, 84, 0.08)), url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1600&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
}

.register-section {
    min-height: 100vh;
    background: linear-gradient(rgba(25, 135, 84, 0.08), rgba(25, 135, 84, 0.08)), url('https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=1600&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
}
footer {
    margin-bottom: 0;
}