@section Styles {
    <link rel="stylesheet" href="~/css/delete.css" />
}

<div class="delete-card">

    <div class="delete-icon">
        <i class="bi bi-trash-fill"></i>
    </div>

    <h1 class="delete-title">Are You Sure?</h1>

    <p class="fertilizer-name">
        @Model.FirstName @Model.LastName
    </p>

    <form method="post">

        <input type="hidden" name="id" value="@Model.Id" />

        <div class="btn-group-custom">

            <input type="submit"
                   name="Decison"
                   value="Yes"
                   class="btn btn-danger btn-custom" />

            <input type="submit"
                   name="Decison"
                   value="No"
                   class="btn btn-primary btn-custom" />

        </div>

    </form>

</div>